
// colours
$turquoise: #52928c;
$purple: #4b3a4a;
$lightpurple: #a49da4;
$darkpurple: #322131;
$black: #171715;
$grey: #929294;
$lightgrey: #d4d2d4;
$blue: #3175b3;
$lightblue: #3175b3;
$white: #ffffff;
$light-menu: #9f949d;

// margin
$margin-left: 16px;