
// colours
$turquoise: #52928c;
$purple: #4b3a4a;
$lightpurple: #a49da4;
$darkpurple: #322131;
$extralightpurple: #7a6977;
$black: #171715;
$grey: #929294;
$maingrey: #989a9b;
$lightgrey: #d4d2d4;
$blue: #3175b3;
$lightblue: #3175b3;
$white: #ffffff;
$darkwhite:#f9f9f9;
$light-menu: #9f949d;

// margin
$margin-left: 16px;
// icon size
$icon-size: 14px;